<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="test.rcp.Application">
         </run>
      </application>
   </extension>
   
<extension id="product_test" point="org.eclipse.core.runtime.products">
  <product application="test.rcp.application" name="ChemAnalysis Workbench v1.1">
    <property name="appName" value="ChemAnalysis Workbench v1.1"> </property>
    <property name="applicationXMI" value="test.rcp/Application.e4xmi"> </property>
    <property
          name="windowImages"
          value="icons/software_16.gif,icons/software_32.gif,icons/software_48.gif,icons/software_64.gif,icons/software_128.gif">
    </property>
  </product>
</extension>
<extension
      point="org.eclipse.ui.activities">
   <activity
         description="Exclude GUI"
         id="activity.excludeFromGUI"
         name="Exclude GUI">
   </activity>
                
    <activityPatternBinding
        activityId="activity.excludeFromGUI"
        pattern="org\.eclipse\.equinox\.p2\..*">
    </activityPatternBinding>
</extension>

</plugin>
